@font-face {
  font-family: "open sans";
  src: url("fonts/open-sans/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "open sans bold";
  src: url("fonts/open-sans/OpenSans-bold.ttf");
  font-weight: normal;
} 

@font-face {
  font-family: "open sans exbold";
  src: url("fonts/open-sans/OpenSans-ExtraBold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "open sans light";
  src: url("fonts/open-sans/OpenSans-Light.ttf");
  font-weight: normal;
}


/*----------------------------header css start-----------------------------*/
.header-link {
  background-color: #5bc0de;
  max-height: 50px;
  border-bottom: 1px solid #82ACD6;
}

.header-left{
  padding-top: 15px;
}

.header-left,.header-right {
  margin-bottom: 0;
  padding-left: 0;
}

.header-left li{
  display: inline-block;
  margin-right: 5px
}

.header-left li i{
  font-size: 14px;
  color: #fff;
}

.header-left li a{
  text-decoration: none;
  color: #fff;
}

.dropdown a{
  color: #fff;
  text-decoration: none;
}

.header-right{
  text-align: right;
}

.header-right li{
  padding: 0;
}

.header-right li:last-child{
  margin-right: 0;
}
.icon-link {
  color: #5bc0de;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #83ABB7;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
}

a.icon-link > .fa {
    padding-top: 10px;
  }

.language{
  display: inline-block;
  width: 170px;
  text-align: left;
  padding: 15px 30px;
}

.dropdown-menu{
  margin: 0;
}

.arrow{
  float: right;
  padding-top: 4px;
}

/*-----------------------header-space css start-----------------------*/
.text-color{
  color: #7CE3E7;
}

.header-space{
  padding: 25px 0;
}

.heading-wrapper{
  padding-left: 0;
}
.heading{
  font-family: "open sans light";
  font-weight: normal;
  margin: 0;
}

.text-color{
  font-family: "open sans bold";
  font-weight: bold;
}

.text{
  font-family: "open sans light";
  font-weight: normal;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
}

.header-space-rigth{
  text-align: right;
}

.header-space-rigth li{
  display: inline-block;
  padding-left: 5px;
}

.header-space-rigth li i{
  color: #7CE3E7;
}

.header-input{
  border-radius: 30px;
  border: 2px solid #7CE3E7;
}

.image{
  padding: 0;
}

.search-glyphicon{
  color: #7CE3E7; 
}

.button1{
  border-radius: 30px;
  border: 2px solid #7CE3E7;
  background-color: #fff;
  color: #94C5C6;
}

.glyphicon-menu-down{
  color: #94C5C6;
}

.categories{
  display: inline-block;
  width: 170px;
  text-align: left;
}

.Categories-dropdown-menu{
  margin-left: 12px;
}

.button1 a:hover{
  text-decoration: none;

}

/*----------------------navbar css start---------------------------*/
.navbar {
  border: none;
  border-top: 1px solid #82ACD6;
  border-radius: 0;
}

.banner-navbar {
  margin-bottom: 0;
  background: rgba(91,192,222,0.7);
}


.navbar-left li a{
  text-transform: uppercase;
}


.navbar-right{
  text-align: right;
  color: #fff;
  margin-right: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #4AB1CB;
}

.cart{
  color: #fff;
  margin-top: 15px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: #4AB1CB
}

.navbarli-color{
  color: #fff;
}

.navbarli-color:hover{
  color: #fff;
}

/*---------------------banner css start--------------------------*/

.banner-carousel {
  margin-top: -50px;
}
.banner-right{
  margin-top: 150px; 
  margin-bottom: 150px;
}

.banner-heading{
  color: #fff;
  background-color: #4AB1CB;
  border-radius: 30px;
  font-family: "open sans bold";
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;
  margin-bottom: 0;
  display: inline-block;
  width: 443px;
}

.banner-sub-heading{
  color: #fff;
  background-color:  #5bc0de;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 12px 30px;
  margin-top: 2px;
  display: inline-block;
  font-family: "open sans light";
  font-weight: normal;
  width: 362px;
}

.bannrer-para{
  font-family: "open sans light";
  font-weight: normal;
  padding: 10px 0;
}

.banner-button{
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "open sans bold";
  font-weight: bold;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 12px 16px;
}

.banner-glyphicon{
  font-size: 13px;
}

.banner-dropdown{
  margin-left: -15px;
}

/*---------------------- Caraousel section---------------------- */

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control:hover{
  background-image: none;
}

.carousel-indicators .active{
  width: 30px;
  height: 30px;
  background-color: #D9332E;
  border: #D9332E;
}

.carousel-control a{
  text-decoration: none;
  color: #fff;
}

.carousel-indicators > li{
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 0;
  margin: 0;
}

.carousel,
.item,
.active{
  height:100%;
}
.carousel-inner {
  height:100%;
}

.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #777;
}
.carousel .carousel-inner .bg {
  background-repeat:no-repeat;
  background-size:cover;
  height: 620px;
}
.carousel .carousel-inner .bg1 {
  background-image:url('images/carouselimg.jpg');
  background-position: center top;
}
.carousel .carousel-inner .bg2 {
  background-image:url('images/carouselimg1.jpg');
  background-position: center center;
}
.carousel .carousel-inner .bg3 {
  background-image:url('images/carouselimg2.jpg');
  background-position: center bottom;
}
.banner-indicators {
  display: inline-block;
  list-style: none;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 15;
  bottom: 50px;
  padding-left: 0;
  margin-bottom: 0;
}
.banner-indicators > li {
  display: inline-block;
}
.banner-indicators .carousel-indicators{
  position: relative;
  width: auto;
  padding: 0;
  margin-left: 0;
  left: 0;
  top: 10px;
}

.banner-indicators li a{
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
}

.banner-indicators a:hover{
  color: #ddd;
}

/*---------------------- main-body start -----------------*/

.main-section{
  margin-top: 100px;
}

.main-body-icon{
  background-color: #D9332E;
  border-radius: 50%;
  display: inline-block;
}

.artical-icon{
  color: #fff;
  font-size: 35px;
  padding: 20px
}

.main-section h3{
  color: #41BDDD;
  font-family: "open sans light";
  font-weight: normal;
}

.border-b{
  border-bottom: 1px solid #3EBDDD;
  width: 115px;
  height: 15px;
  display: inline-block;
}

.main-body-para{
  font-family: "open sans light";
  font-weight: normal;
  padding: 20px 20px;
}

.main-section h6 a{
  text-transform: uppercase;
  color: #DD3631;
  font-family: "open sans exbold";
  font-weight: bold;
  text-decoration: none;
}

.main-section h6{
  margin-bottom: 100px;
}

.main-body-glyphicon{
  font-size: 10px;
}

/*----------------department css start------------------------*/

.department{
  background-image:url('images/carouselimg2.jpg');
}

.row-department {
  margin: -25px 0 0;
  text-align: center;
}
.depart-heading {
  display: inline-block;
  text-transform: uppercase;
  background-color: #DD3631;
  border-radius: 30px;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 20px;
  margin: 0;
  font-family: "open sans light";
  font-weight: normal;
  font-size: 15px;
}

.bold-text{
  font-family: "open sans bold";
  font-weight: bold;
}

.left-section h3, .right-section h3{
  color: #fff;
  margin-top: 50px;
  font-family: "open sans light";
  font-weight: normal;
}

.left-section p, .right-section p{
  color: #fff;
  font-size: 13px;
  font-family: "open sans light";
  font-weight: normal;
}

.department-img {
  position: relative;
  margin: 25px 0;
  width: 100%;
  height: 280px;
  background-image: url('images/carouselimg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 140px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.video-container > span {
  position: relative;
  top: -35px;

}

.section-btn button{
  text-align: center;
}

.department-section{
  margin-bottom: 100px;
}

.collapse-btn{
  border-radius: 0;
  padding: 10px 12px;
  margin: -11px -16px -11px 0;
}

.btn-danger:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-danger:focus{
  background-color: #d9534f;
  border-color: #d43f3a;
}

.panel-group .panel{
  border-radius: 0;
  margin-bottom: -4px;
}

.panel-group{
  margin-top: 35px;
  margin-bottom: 0;
}

.department-textcolor{
  color: #66C4C7;
}

.play-icon{
  color: #66C4C7;
  border-radius: 50%;
  border: 2px solid #66C4C7;
  background-color: #fff;
  height: 70px;
  width: 70px;
  padding-top: 18px;
  display: inline-block;
  padding: 18px 0 0 6px;
} 

